
{#
 # Homepage template
 # ---------------
 #}

{% extends "layouts/_layout.twig" %}

{% block content %}
<main>
	<section>
		{# stuff #}
	</section>
	{# <img src="assets/img/JL_1.png" alt="Joelle Lehmann in Winterthur"> #}
</main>
{% endblock %}